/* webfonts */

@include font-face('Roboto Mono', 'RobotoMono-Regular', 400);
@include font-face('Roboto Mono', 'RobotoMono-Italic',  400, italic);
@include font-face('Roboto Mono', 'RobotoMono-BoldRegular', 700);
@include font-face('Roboto Mono', 'RobotoMono-BoldItalic',  700, italic);

/* typography */

.font {

    &-sans {
        @include font;
    }

    &-mono {
        @include font(mono);
    }

    @each $s in $font-sizes {
        &-#{$s} {
            @include font-size($s);
        }
    }

}

.text,
.blocks {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
        margin: 1em 0;
    }

    h2 {
        @include font-size(xl);
    }

    h3 {
        @include font-size(l);
    }

    h4,
    h5,
    h6,
    figcaption,
    cite {
        @include font-size(s);
    }

    ul {
        @include list( disc );
    }

    ol {
        @include list( decimal );
    }

    figure {
        figcaption {
            margin-top: space( s );
        }
    }

}

p {
    a {
        @include underline;
        @include transition( opacity );
        &:hover {
            opacity: 0.5;
        }
    }

    strong {
        @include bold;
    }

    em {
        @include italic;
    }

    u {
        @include underline;
    }
}

pre {
    @include padding(m);
    @include font(mono);
    overflow-x: scroll;
}

code {
    @include font(mono);
}