.font {

    &-sans {
        @include font;
    }

    &-mono {
        @include font(mono);
    }

    $sizes: xs, s, m, l, xl, xxl;

    @each $s in $sizes {
        &-#{$s} {
            @include size($s );
        }
    }

}

.grid {
    @include grid;
}

pre {
    @include padding(m);
    @include font(mono);
    overflow-x: scroll;
}

code {
    @include font(mono);
}

p {
    a {
        @include underline;
    }

    strong {
        @include bold;
    }

    em {
        @include italic;
    }

    u {
        @include underline;
    }
}

.no-cursor {
    cursor: none !important;
}

.debug {
    @include debug;
}