/* main */

html {
    font-size: 16px;
}

:root {
    --100vh: 100vh;
    @each $color, $value in $colors {
        --#{"" + $color}: #{$value};
    }
    --background: #fff;
    --color: #000;
    --highlight: #00f;
}

body {
    display: flex;
    flex-direction: column;
    min-height: var(--100vh);
    @include font;
    @include font-size;
    background-color: var(--background);
    color: var(--color);
}

::selection {
    background: var(--highlight);
    color: var(--background);
}