@mixin grid-columns($columns: 12) {
    grid-template-columns: repeat($columns, minmax(0, 1fr));
}

@mixin loop-grid($i, $device: '') {
    @if $i >0 {
        &.grid#{$device}-#{$i} {
            @include grid-columns($i );
        }

        @include loop-grid($i - 1, $device );
    } @else {
        &.grid#{$device}-unset {
            grid-template-columns: unset;
        }
    }
}

@mixin loop-columns($i, $device: '') {
    @if $i >0 {
        >.col#{$device}-#{$i} {
            grid-column-end: span max($i );
        }

        @include loop-columns($i - 1, $device );
    } @else {
        >.col#{$device}-unset {
            grid-column-end: unset;
        }
    }
}

@mixin loop-rows($i, $device: '') {
    @if $i >0 {
        >.row#{$device}-#{$i} {
            grid-row-end: span max($i );
        }

        @include loop-rows($i - 1, $device );
    } @else {
        >.row#{$device}-unset {
            grid-row-end: unset;
        }
    }
}

@mixin loop-order($i, $device: '') {
    @if $i >0 {
        >.order#{$device}-#{$i} {
            order: max($i );
        }

        @include loop-order($i - 1, $device );
    } @else {
        >.order#{$device}-unset {
            order: unset;
        }
    }
}

@mixin loop-start($i, $device: '') {
    @if $i >0 {
        >.start#{$device}-#{$i} {
            grid-column-start: max($i );
        }

        @include loop-start($i - 1, $device );
    } @else {
        >.start#{$device}-unset {
            grid-column-start: unset;
        }
    }
}

@mixin grid($columns: 12, $gap: 0) {

    display: grid;
    @include grid-columns($columns );
    gap: $gap;

    >* {
        grid-column-end: span $columns;
    }

    $rows: 4;

    @include loop-grid($columns );
    @include loop-columns($columns );
    @include loop-order($columns );
    @include loop-start($columns );
    @include loop-rows($rows );

    // loop through $breakpoints

    @each $breakpoint, $size in $breakpoints {
        @include media($breakpoint) {
            $prefix: '-#{$breakpoint}';
            @include loop-grid($columns, $prefix );
            @include loop-columns($columns, $prefix );
            @include loop-order($columns, $prefix );
            @include loop-start($columns, $prefix );
            @include loop-rows($rows, $prefix );
        }
    }

}