.blocks {

    > *:not( div, figure, iframe ) {
        padding-left: space();
        padding-right: space();
        + * {
            margin-top: 1em;
        }
    }

    > .space {
        &.space-s {
            height: space(l);
        }
        &.space-m {
            height: space(xl);
        }
        &.space-l {
            height: space(xxl);
        }
    }

    [data-crop]{
        position: relative;
        padding-top: var(--ratio);
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

}